<form accept-charset="UTF-8" action="/login" method="post">
  <div class="header">
    <span>Login</span>
  </div>
  <div class="dialog_body">
    <div class="holding span_trick" data-fieldname="name">
      <span class="holder">Name</span>
      <input class="r_raw_field" id="name" name="name" type="text" />
    </div>
    <div class="holding span_trick" data-fieldname="password">
      <span class="holder">Password</span>
      <input class="r_raw_field" id="password" name="password" type="text" />
    </div>
    <input class="r_submit" type="submit" value="Login" />
  </div>
</form> 
